.heroSection{
  background-image: url(../../../../assets/images/hero-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  @media (max-width: 768px){
    padding: 50px 0;
    background-image: url(../../../../assets/images/hero-image-sm.jpg);
  }
}
